.AccountDetails .delete-account-button {
  background-color: rgb(30 41 59);
  color: #bcd8c1;
  font-size: 18px;
  /* float: right; */
  /* position: absolute;
  right: 10px;
  top: 5px; */
  padding: 0 20px;
  border: none;
}

.AccountDetails .delete-account-button:hover {
  color: rgb(239 68 68);
}

.AccountDetails .sure-button:hover {
  color: rgb(239 68 68 / 0.5);
}

.AccountDetails .account-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 30px 30px 30px;
}

h3 {
  color: #7da184;
  font-size: 25px;
}

span {
  color: #bcd8c1;
}

.AccountDetails .scores-ul {
  padding-left: 40px;
  list-style: disc;
}

.AccountDetails .account-favorited-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.AccountDetails .account-favorited-articles li {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.AccountDetails .account-favorited-articles li p {
  width: 400px;
}

.AccountDetails .account-favorited-articles li img {
  width: 350px;
}

.AccountDetails .favorites-arrow {
  font-size: 32px;
  color: rgb(239 68 68);
}

.AccountDetails .delete-confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b4d3ba;
  height: 300px;
  width: 400px;
  border-radius: 8px;
  border: solid 2px rgb(30 41 59);
  box-shadow: 1px 6px 10px 1px rgb(30 41 59);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.AccountDetails .warning {
  color: rgb(239 68 68);
  font-size: 30px;
  text-transform: uppercase;
}

.AccountDetails .warning-text {
  color: rgb(30 41 59);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.AccountDetails .deleting-button {
  color: rgb(239 68 68);
  font-size: 18px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(30 41 59);
  cursor: pointer;
}

.AccountDetails .confirm {
  font-size: 16px;
}
