.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  border-bottom: solid 2px rgb(239 68 68);
  height: 110px;
  z-index: 1;
}

.Header div {
  display: flex;
  align-items: center;
}
.Header ul {
  display: flex;
  align-items: center;
}
.Header li {
  padding: 0 10px;
  text-align: center;
}

.Header .user-image {
  width: 50px;
  border-radius: 50%;
  margin: 0 20px;
}
.Header li:hover {
  color: #7da184;
}

/* When user logs out. Header border doubles to account for loss of AccountMenu component's border */
.logged-out-true {
  border-bottom: solid 2px rgb(239 68 68);
}

.Header .header-logo {
  inline-size: 225px;
}

/* * media query. Styles only applied if screen size is less than or equal to 438px */
@media only screen and (max-width: 438px) {
  .Header .header-logo {
    inline-size: 160px;
  }
}
