.Home {
  margin: 0;
}

.Home .articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 30px 80px 30px;
}

.Home .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.Home .article-title {
  display: flex;
  align-items: center;
  height: 60px;
  width: 350px;
  text-align: center;
  align-items: center;
}

.Home .article-image {
  width: 25em;
  height: 12em;
  object-fit: cover;
}
