.Home {
  margin: 0;
}

.Home .articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 30px 80px 30px;
}

.Home .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.Home .article-title {
  display: flex;
  text-align: center;
  align-items: center;
  height: 130px;
  width: 139px;
  font-size: 20px;
}

.Home .article-image {
  width: 139px;
  height: 10em;
  object-fit: cover;
}

@media only screen and (min-width: 524px) and (max-width: 969px) {
  .Home .article-title {
    height: 80px;
    width: 210px;
    font-size: 20px;
  }

  .Home .article-image {
    width: 213px;
    height: 10em;
  }
}

@media only screen and (min-width: 969px) {
  .Home .article-title {
    height: 80px;
    width: 285px;
    font-size: 20px;
  }

  .Home .article-image {
    width: 285px;
    height: 10em;
  }
}
