.Home {
  margin: 0;
}

.Home .articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 30px 80px 30px;
}

.Home .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.Home .article-title {
  display: flex;
  text-align: center;
  align-items: center;
  height: 130px;
  width: 139px;
  font-size: 18px;
}

.Home .article-image {
  width: 139px;
  height: 10em;
  object-fit: cover;
}

.Home .canvas-container {
  display: flex;
  justify-content: center;
}

.Home canvas {
  height: 240px;
}

@media only screen and (min-width: 600px) {
  .Home canvas {
    height: 400px;
  }
}

.Home .canvas-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Home canvas {
  height: 240px;
}

.Home section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home .articles-header {
  font-size: 25px;
  text-transform: uppercase;
}

.Home .inspirational-catch-phrase {
  text-align: center;
  font-size: 30px;
  width: 450px;
}

@media only screen and (min-width: 600px) {
  .Home canvas {
    height: 400px;
  }
}

/* * media query. Styles only applied if screen size is between 524 and 969 px */
@media only screen and (min-width: 524px) and (max-width: 969px) {
  .Home .article-title {
    height: 125px;
    width: 210px;
    font-size: 18px;
  }

  .Home .article-image {
    width: 213px;
    height: 10em;
  }
}

/* * media query. Styles only applied if screen size is less than or equal to 969px */
@media only screen and (min-width: 969px) {
  .Home .article-title {
    height: 80px;
    width: 285px;
    font-size: 20px;
  }

  .Home .article-image {
    width: 285px;
    height: 10em;
  }
}
