.Results {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(250 204 21);
  margin-bottom: 20px;
}

.Results .accuracy,
.errors,
.typed {
  margin-top: 12px;
}
.Results .errors {
  color: rgb(239 68 68);
}
.Results .play-again-link {
  color: #7da184;
  font-size: 30px;
}
.Results .play-again-link:hover {
  color: rgb(239 68 68 / 0.5);
}
